div{
  font-family: Arial;
}

.header{
  background-color:  rgb(120, 82, 178);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px 15px;
}

.home-link{
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.text-box{
  width: 500px;
  height: 30px;
  border-radius: 15px;
  border: none;
  padding-left: 20px;
  margin: 12px 0px 12px 0px;
}

button{
  background-color:  rgb(120, 82, 178);
  color: white;
  border-width: 1px;
  border-color: white;
  border-radius: 2px;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
}