body{
  height: 3000px;
}

.close-button{
  position: absolute;
  background: black;
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  top: 12px;
  right: 12px;
  cursor: pointer;
}