body{
  height: 3000px;
}

.item-container{
  display: inline-block;
  position: relative;
}

.item-photo{
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.discount-percent{
  position: absolute;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px ;
  top: 10px;
  right: 0px;
}

.add-to-cart-container{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-button{
  background-color: white;
  border-color: black;
  padding: 8px 20px;
  font-family: Arial;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}